<div class="w-full sm:w-1/2 md:w-1/3 mx-auto">
  <div class="flex flex-col content-start mt-12">
    <h1 class="text-center text-2xl text-whizzo-400">SIGNUP</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", placeholder:"Your first name", :class=>"w-full px-6 py-4 mt-4 border border-gray-400 focus:outline-none" %>

    <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", placeholder:"Your last name", :class=>"w-full px-6 py-4 mt-4 border border-gray-400 focus:outline-none" %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter your username or email", :class=>"w-full px-6 py-4 mt-4 border border-gray-400 focus:outline-none" %>

    <div class="mt-4">
      <div class="pb-6 md:pb-0 flex flex-col">
        <div class="w-full border">
          <label class="w-full input-field inline-flex items-baseline border-none bg-white p-4">
            <span class="flex-none text-dusty-blue-darker select-none leading-none">whizzo.co/</span>
            <div class="flex-1 leading-none">
              <%= f.text_field :url, autocomplete: "url", placeholder:"username", :class=>"focus:outline-none placeholder-blue w-full p-0 no-outline text-dusty-blue-darker" %>
            </div>
          </label>
        </div>
      </div>
    </div>

    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", :class=>"w-full px-6 py-4 mt-4 border border-gray-400 focus:outline-none" %>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>
        characters minimum)</em>
    <% end %><br/>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password confirmation", :class=>"w-full px-6 py-4 mt-4 border border-gray-400 focus:outline-none" %>

    <div class="w-full text-center">
      <%= f.submit "Sign up", :class=>"w-1/2 mt-4 text-centerpx-6 py-3 rounded bg-whizzo-300 text-white" %>
    </div>

  <% end %>
  <%= render "devise/shared/links" %>
</div>
</div>
