<header class="flex flex-col sm:flex-row sm:justify-between items-center px-12 py-4 sm:px-24 sm:py-6">
  <div>
    <a href="/">
      <img class="w-24" src="<%= asset_path('logo.png') %>" alt="Whizzo.co">
    </a>
  </div>
  <nav class="mt-6 sm:mt-0 text-whizzo-400 font-medium">
    <% if account_signed_in? %>
      <%= link_to "Dashboard", dashboard_path, :class=>"ml-4 hover:bg-transparent hover:text-whizzo-300" %>
      <%= link_to "Sign out", destroy_account_session_path, method: :delete, :class=>"ml-4 hover:bg-transparent hover:text-whizzo-300" %>
    <% else %>
      <a href="#" class="hover:bg-transparent hover:text-whizzo-300">Features</a>
      <a href="#" class="ml-4 hover:bg-transparent hover:text-whizzo-300">Pricing</a>
      <%= link_to "Sign in", new_account_session_path, :class=>"ml-4 hover:bg-transparent hover:text-whizzo-300" %>
    <% end %>
  </nav>

  <% if account_signed_in? %>
    <a href="#" class="hidden sm:block text-white font-semibold bg-whizzo-300 py-2 px-4 rounded-lg hover:bg-whizzo-400 hover:bg-transparent text-center visited:text-white">Visit your profile <i class="ml-2 fas fa-external-link-alt"></i></a>
  <% else %>
    <%= link_to "Create your free profile", new_account_registration_url, :class=>"hidden sm:block text-white font-semibold bg-whizzo-300 py-2 px-4 rounded-lg hover:bg-whizzo-400 hover:bg-transparent text-center visited:text-white" %>
  <% end %>

</header>
